*.pyc
*.o
*~
\#*\#
vcregs.aux
vcregs.dvi
vcregs.html
vcregs.md
vcregs.out
vcregs.pdf
vcregs.ps
vcregs.tex
vcregs.toc
bcm2835_emul
dump_decoder
trace_decoder
vcregs.h
vcregs.inc
vcdecoder.c
vc4_decoder.c
*.bin
*.project
.project
*.exe
*.stackdump
*.log.txt
*.log
.idea
.idea/*
sdmmc
sdmmc/*
